<!DOCTYPE html>
<html>
<link rel="stylesheet" href="help.css">
<head>
    <h2>About test page for Udemy training</h2>
</head>

<body>
    
    <p>{{pageTitle}}</p>
</body>
<footer>

    <p>Copyright {{currentYear}}</p>
    
</footer>
</html>
