<!DOCTYPE html>
<html>
<link rel="stylesheet" href="help.css">

<head>
    <h2>Home page for Udemy training</h2>
</head>

<body>
    {{> header}}

    <p>{{screamIt welcomeMessage}}</p>


    {{> footer}}
</body>

</html>