<!DOCTYPE html>
<html>
<link rel="stylesheet" href="help.css">
<head>
    <h2>About test page for Udemy training</h2>
</head>

<body>
    
    <p>{{>header}}</p>
    <p>project page text would go here</p>
</body>


<footer>

    <p>Copyright {{currentYear}}</p>
    
</footer>
</html>
